interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.neracoos.org/erddap/tabledap/M01_met_all.json?time%2Cair_temperature%26air_temperature_qc%3D0%26time%3E%3D%222021-03-01T15%3A25%3A00.000Z%22
  response:
    body:
      string: "{\n  \"table\": {\n    \"columnNames\": [\"time\", \"air_temperature\"],\n    \"columnTypes\": [\"String\", \"float\"],\n    \"columnUnits\": [\"UTC\", \"celsius\"],\n    \"rows\": [\n  \
        \    [\"2021-03-01T15:30:00Z\", 6.254],\n      [\"2021-03-01T15:40:00Z\", 6.355],\n      [\"2021-03-01T15:50:00Z\", 6.512],\n      [\"2021-03-01T16:00:00Z\", 6.601],\n      [\"2021-03-01T16:10:00Z\"\
        , 6.75],\n      [\"2021-03-01T16:20:00Z\", 6.821],\n      [\"2021-03-01T16:30:00Z\", 6.768],\n      [\"2021-03-01T16:40:00Z\", 6.839],\n      [\"2021-03-01T16:50:00Z\", 6.899],\n      [\"2021-03-01T17:00:00Z\"\
        , 6.852],\n      [\"2021-03-01T17:10:00Z\", 6.808],\n    [...]
