interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/stac/WW3_72_GulfOfMaine/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"WW3_72_GulfOfMaine\",\n
        \ \"stac_version\": \"1.0.0\",\n  \"description\": \"Bedford Institute of
        Oceanography Wave Watch 3 72 hour forecast for the Gulf of Maine\",\n  \"links\":
        [\n    {\n      \"rel\": \"root\",\n      \"href\": \"../catalog.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"./WW3_72_GulfOfMaine_2023110700/WW3_72_GulfOfMaine_2023110700.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"./WW3_72_GulfOfMaine_2023111312/WW3_72_GulfOfMaine_2023111312.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/stac/WW3_72_GulfOfMaine/WW3_72_GulfOfMaine_2023122800/WW3_72_GulfOfMaine_2023122800.json
  response:
    body:
      string: "{\n  \"type\": \"Feature\",\n  \"stac_version\": \"1.0.0\",\n  \"id\":
        \"WW3_72_GulfOfMaine_2023122800\",\n  \"properties\": {\n    \"start_datetime\":
        \"2023-12-28T00:00:00Z\",\n    \"end_datetime\": \"2023-12-31T00:00:00Z\",\n
        \   \"cube:dimensions\": {\n      \"longitude\": {\n        \"type\": \"spatial\",\n
        \       \"axis\": \"x\",\n        \"extent\": [\n          -76.0,\n          -60.0\n
        \       ]\n      },\n      \"latitude\": {\n        \"type\": \"spatial\",\n
        \       \"axis\": \"y\",\n        \"extent\": [\n          38.0,\n          46.0\n
        \       ]\n      },\n      \"time\": {\n        \"type\": \"temporal\",\n
        \       \"values\": [\n          \"2023-12-28T00:00:00\",\n          \"2023-12-28T01:00:00\",\n
        \         \"2023-12-28T02:00:00\",\n          \"2023-12-28T03:00:00\",\n          \"2023-12-28T04:00:00\",\n
        \         \"2023-12-28T05:00:00\",\n          \"2023-12-28T06:00:00\",\n          \"2023-12-28T07:00:00\",\n
        \         \"2023-12-28T08:00:00\",\n          \"2023-12-28T09:00:00\",\n          \"2023-12-28T10:00:00\",\n
        \         \"2023-12-28T11:00:00\",\n          \"2023-12-28T12:00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/WW3_72_GulfOfMaine_2023-12-28T00/edr/position?parameter-name=dir&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-12-28T00:00:00","2023-12-28T01:00:00","2023-12-28T02:00:00","2023-12-28T03:00:00","2023-12-28T04:00:00","2023-12-28T05:00:00","2023-12-28T06:00:00","2023-12-28T07:00:00","2023-12-28T08:00:00","2023-12-28T09:00:00","2023-12-28T10:00:00","2023-12-28T11:00:00","2023-12-28T12:00:00","2023-12-28T13:00:00","2023-12-28T14:00:00","2023-12-28T15:00:00","2023-12-28T16:00:00","2023-12-28T17:00:00","2023-12-28T18:00:00","2023-12-28T19:00:00","2023-12-28T20:00:00","2023-12-28T21:00:00",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/WW3_72_GulfOfMaine_2023-12-28T00/edr/position?parameter-name=hs&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-12-28T00:00:00","2023-12-28T01:00:00","2023-12-28T02:00:00","2023-12-28T03:00:00","2023-12-28T04:00:00","2023-12-28T05:00:00","2023-12-28T06:00:00","2023-12-28T0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/WW3_72_GulfOfMaine_2023-12-28T00/edr/position?parameter-name=t01&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-12-28T00:00:00","2023-12-28T01:00:00","2023-12-28T02:00:00","2023-12-28T03:00:00","2023-12-28T04:00:00","2023-12-28T05:00:00","2023-12-28T06:00:00","2023-12-28T[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/info/NCEP_Global_Best/index.csv
  response:
    body:
      string: 'Row Type,Variable Name,Attribute Name,Data Type,Value

        attribute,NC_GLOBAL,_CoordSysBuilder,String,ucar.nc2.dataset.conv.CF1Convention

        attribute,NC_GLOBAL,acknowledgement,String,The Pacific Islands Ocean Observing
        System (PacIOOS) is funded through the National Oceanic and Atmospheric Administration
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/griddap/NCEP_Global_Best.json?tmp2m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 28 Dec 2023 20:23:01 GMT
      Location:
      - https://pae-paha.pacioos.hawaii.edu/erddap/griddap/ncep_global.json?tmp2m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
      erddap-server:
      - '2.23'
      xdods-server:
      - dods/3.7
    status:
      code: 302
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://pae-paha.pacioos.hawaii.edu/erddap/griddap/ncep_global.json?tmp2m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAA/4WXS2/bMAyA7/0VQc6tQFKiHr3uOGCXtZcNxZCtXhYgjyJ1MQxF//uotDU6j2QB
        I7EMf5asj5Tox7PFYjmuvm+H5eXiURrS/HHYPuz2n1a74V4ufl2Om92wPF8st6txMz7cPp8f9uup
        Me7uaLe8OX+LX/25e8E/j8fNft3vuz089I7+Ofu5PazGGXu934zP7PXVh9Ptw/o4DPff9ofj+Ovt
        hWF1P/b2x+kJx8PvE3pqLeQRBBQvkC6oXgFcno4vgqQY+HxBDU5/FQJyBH55ypyLDkfULCx73dWK
        BtYcDDhHHUOysNICAyQDYwcr1IrFVYfLkKvBETpcyi1mjWuOu94f16JKaI67zmGKZHCmPOEiYTMw
        U16pgTgndVqaZ6+ERjkZw3T0lVBzKcXgbH0lcGrJ4Bx9nUNVQwRPXw1QozrOznn6EjdVX+e83ANo
        VA3OS76IoCWfYLa+3l2GokV159zsQ1a1d87WV0PLFLUwE87RlyVc9O7Qs1dCjlzV10PPnkRLK+pa
        1jk7+XIool2NFvSyL0t0cjPG6WRfDrGmZHG2vixRVlGNMvT05UCyCuqYb0/6m1lPF4ByePqESzCP
        6onz9EHN2cBce5xyMTjbHocqGWG8nmOPg8TY3N7E2fakv8hQDc62JxwmNjhXHxZgVQP5+nryqfNJ
        nj4OIOdkcLa/FBIkVD2Q5y8FhKZOC3n6BGs4r1wmztaXgtQDoGonP/mkIJhXPK+cqy8CsMpFf+sj
        YD1ro599jYhVfdHTV0KpWZ/P6OkrQeZUjc7or525/LdDT5y3dkrhYr2eq69xZR1zC5fUGqtJlN4p
        XOK8npswT15GY21J/trZOJI6K8nf+Wps8532lXPtFSJjVlx5Jc2rxwnzqk6opgRHHku5Y6Qee/JI
        Nr42/3KbONseBsaMBmbLg1BK1YOFPXnQi380hunIg1BbwXxzwvrv09nT2V8w3Uyl7Q8AAA==
    headers:
      Content-Disposition:
      - attachment;filename=ncep_global_2139_312a_db3f.json
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 28 Dec 2023 20:23:02 GMT
      erddap-server:
      - '2.23'
      xdods-server:
      - dods/3.7
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coastwatch.pfeg.noaa.gov/erddap/griddap/NCEP_Global_Best.json?ugrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D,vgrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 28 Dec 2023 20:23:06 GMT
      Location:
      - https://pae-paha.pacioos.hawaii.edu/erddap/griddap/ncep_global.json?ugrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D%2Cvgrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
      erddap-server:
      - '2.23'
      xdods-server:
      - dods/3.7
    status:
      code: 302
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://pae-paha.pacioos.hawaii.edu/erddap/griddap/ncep_global.json?ugrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D%2Cvgrd10m%5B(2023-12-28T00:00:00Z):1:(2024-01-05T12:00:00Z)%5D%5B(43.5):1:(43.5)%5D%5B(290.5):1:(290.5)%5D
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAA/32YS29cNwyF9/kVA6/tC/ElUtl2302dTYugcBvXNeBHYY9bFEH+e48k10kG4g2M
        RNfIPUNRHw+p+fzu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/stac/FVCOM_GOM3_WAVE/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"FVCOM_GOM3_WAVE\",\n  \"stac_version\":
        \"1.0.0\",\n  \"description\": \"FVCOM wave forecasts for the Gulf of Maine
        from UMass\",\n  \"links\": [\n    {\n      \"rel\": \"root\",\n      \"href\":
        \"../catalog.json\",\n      \"type\": \"application/json\"\n    },\n    {\n
        \     \"rel\": \"item\",\n      \"href\": \"./FVCOM_GOM3_Wave_2023101200/FVCOM_GOM3_Wave_2023101200.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"parent\",\n
        \     \"href\": \"../catalog.json\",\n      \"type\": \"application/json\"\n
        \   }\n  ],\n  \"title\": \"University of Mass FVCOM wave forecast for the
        Gulf of Maine\",\n  \"extent\": {\n    \"spatial\": {\n      \"bbox\": [\n
        \       [\n          -75.65,\n          35.25,\n          -56.75000000000108,\n
        \         46.250000000000156\n        ]\n      ]\n    },\n    \"temporal\":
        {\n      \"interval\": [\n        [\n          \"2023-10-12T00:00:00Z\",\n
        \         \"2024-01-02T00:00:00Z\"\n        ]\n      ]\n    }\n  },\n  \"license\":
        \"proprietary\",\n  \"keywords\": [\n    \"forecast\",\n    \"UMass\",\n    \"NERACOOS\",\n
        \   \"wave\",\n    \"Gulf of Maine\"\n  ],\n  \"providers\": [\n    {\n      \"name\":
        \"UMaine SMAST MEDML\",\n      \"description\": \"Marine Ecosystem Dynamics
        Modeling Laboratory (MEDML) at the School for Marine Science and Technology,
        University of Massachusetts-Dartmouth\",\n      \"roles\": [\n        \"licensor\",\n
        \       \"producer\"\n      ],\n      \"url\": \"http://fvcom.smast.umassd.edu/\"\n
        \   },\n    {\n      \"name\": \"NERACOOS\",\n      \"description\": \"NorthEastern
        Regional Association of Coastal and Ocean Observing Systems\",\n      \"roles\":
        [\n        \"processor\",\n        \"host\"\n      ],\n      \"url\": \"http://neracoos.org\"\n
        \   },\n    {\n      \"name\": \"GMRI ODP\",\n      \"description\": \"Gulf
        of Maine Research Institute's Ocean Data Products Team\",\n      \"roles\":
        [\n        \"processor\"\n      ],\n      \"url\": \"https://gmri.org/commitments/science/ocean-data-products/\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"658dcd71-744"'
      Last-Modified:
      - Thu, 28 Dec 2023 19:33:05 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/stac/FVCOM_GOM3_WAVE/FVCOM_GOM3_Wave_2023101200/FVCOM_GOM3_Wave_2023101200.json
  response:
    body:
      string: "{\n  \"type\": \"Feature\",\n  \"stac_version\": \"1.0.0\",\n  \"id\":
        \"FVCOM_GOM3_Wave_2023101200\",\n  \"properties\": {\n    \"start_datetime\":
        \"2023-10-12T00:00:00Z\",\n    \"end_datetime\": \"2024-01-02T00:00:00Z\",\n
        \   \"cube:dimensions\": {\n      \"time\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/FVCOM_GOM3_wave_2023-10-12T00/edr/position?parameter-name=hs&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-10-12T00:00:00","2023-10-12T01:01:52","2023-10-12T01:58:07","2023-10-12T03:00:00","2023-10-12T04:01:52","2023-10-12T04:58:07","2023-10-12T06:00:00","2023-10-12T07:0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/FVCOM_GOM3_wave_2023-10-12T00/edr/position?parameter-name=tpeak&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-10-12T00:00:00","2023-10-12T01:01:52","2023-10-12T01:58:07","2023-10-12T03:00:00","2023-10-12T04:01:52","2023-10-12T04:58:07","2023-10-12T06:00:00","2023-10-12T0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://data.neracoos.org/xpublish/datasets/FVCOM_GOM3_wave_2023-10-12T00/edr/position?parameter-name=wdir&coords=POINT%20(-69.3578%2043.7148)
  response:
    body:
      string: '{"type":"Coverage","domain":{"type":"Domain","domainType":"Grid","axes":{"t":{"values":["2023-10-12T00:00:00","2023-10-12T01:01:52","2023-10-12T01:58:07","2023-10-12T03:00:00","2023-10-12T04:01:52","2023-10-12T04:58:07","2023-10-12T06:00:00","2023-10-12T07[...]
