services:
  db:
    image: postgis/postgis:15-3.3@sha256:a2fc46b52819d25add4ed93d3da83e106e17ea3ace6883cce3791631c9820bb2
    restart: always
    env_file:
      - ./docker-data/secret.env
    environment:
      PGDATA: /var/lib/postgresql/data/PGDATA
    volumes:
      - ./docker-data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  cache:
    image: redis:7.2.5-alpine@sha256:52feec9e3be7fd87b86ff8ffd4eeec4c7b8f4243bc09ff173ecef6c77b78b33a
    restart: always

  web:
    build: ./app
    image: gmri/neracoos-buoy-barn
    command: uv run manage.py runserver 0:8090
    # # command: "uwsgi --http :8080 --wsgi-file buoy_barn/wsgi.py  --master --processes 4 --threads 2"
    # command: "uwsgi --module=buoy_barn.wsgi:application --master --pidfile=/tmp/project-master.pid --http :8080 --uid=1000 --gid=2000 --max-requests=5000 --vacuum --processes 4"
    # # command: "gunicorn --bind 0.0.0.0:8080 buoy_barn.wsgi:application"
    restart: always
    volumes:
      - ./app:/app:cached
      - /app/.venv
      - ./docker-data/django-static:/static:cached
    # develop:
    #   watch:
    #     - action: sync
    #       path: ./app
    #       target: /app
    #       ignore:
    #         - ./app/.venv
    #     - action: rebuild
    #       path: ./app/pyproject.toml
    ports:
      - "8090:8090"
    environment:
      DJANGO_MANAGEPY_COLLECTSTATIC: "on"
      SENTRY_TRACES_SAMPLE_RATE: 0
    env_file:
      - ./docker-data/secret.env
    depends_on:
      - db
      - cache

  mqtt:
    build: ./app
    image: gmri/neracoos-buoy-barn
    command: uv run manage.py erddap_mqtt NERACOOS_SEA_EAGLE
    volumes:
      - ./app:/app:cached
      - /app/.venv
      - ./docker-data/django-static:/static:cached
    environment:
      SENTRY_TRACES_SAMPLE_RATE: 0
    env_file:
      - ./docker-data/secret.env
    depends_on:
      - db
      - cache
    networks:
      - default
      - erddap_mqtt_network

  celery-worker:
    build: ./app
    image: gmri/neracoos-buoy-barn
    command: celery -A buoy_barn worker -l info
    restart: always
    env_file:
      - ./docker-data/secret.env
    depends_on:
      - db
      - cache

  celery-beat:
    build: ./app
    image: gmri/neracoos-buoy-barn
    command: celery -A buoy_barn beat -l info
    restart: always
    env_file:
      - ./docker-data/secret.env
    depends_on:
      - db
      - cache

  celery-flower:
    build: ./app
    image: gmri/neracoos-buoy-barn
    command: celery -A buoy_barn flower -l info
    restart: always
    env_file:
      - ./docker-data/secret.env
    depends_on:
      - db
      - cache
    ports:
      - "5555:5555"

  spotlight:
    image: ghcr.io/getsentry/spotlight:latest
    ports:
      - "8969:8969/tcp"


networks:
  default:
    name: buoy_barn_network
    driver: bridge
  erddap_mqtt_network:
    name: erddap_mqtt_network
    external: true
