services:
  db-test:
    image: postgis/postgis:15-3.3@sha256:a2fc46b52819d25add4ed93d3da83e106e17ea3ace6883cce3791631c9820bb2
    env_file:
      - ./docker-data/test.env

  cache-test:
    image: redis:7.4.8-alpine@sha256:8b81dd37ff027bec4e516d41acfbe9fe2460070dc6d4a4570a2ac5b9d59df065

  web-test:
    build: ./app
    image: gmri/neracoos-buoy-barn
    volumes:
      - ./app:/app:cached
      - /app/.venv
    env_file:
      - ./docker-data/test.env
    links:
      - db-test
      - cache-test
