Django==2.2.5
gunicorn==19.9.0
psycopg2-binary==2.8.3
djangorestframework==3.10.3
djangorestframework-gis==0.14
django-memoize==2.2.0
django-redis==4.10.0

erddapy==0.5.0
xarray==0.12.3
netCDF4==1.5.2

sentry-sdk==0.11.2
django-cors-headers==3.1.0

# tasks
celery[redis]==4.3.0

# deployment
uWSGI==2.0.18
gunicorn==19.9.0
whitenoise==4.1.3

# development
ipython==7.8.0
django-debug-toolbar==2.0
prospector[with_mypy,with_vulture]==1.1.7

# testing
coverage==4.5.4
PyYAML==5.1.2
geojson==2.5.0
vcrpy==2.1.0
freezegun==0.3.12

# dependency management
pip_tools==4.1.0
pipdeptree==0.13.2
